<head>
  <meta
    http-equiv="Content-Security-Policy"
    content="script-src 'self' 'unsafe-inline' https://admin.drugdecider.com; connect-src 'self' https://admin.drugdecider.com/getexcel"
  />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Drug Decider - Admin</title>
  <meta name="author" content="Drug Decider" />
  <meta name="description" content="Drug Decider Admin Console" />
  <meta name="keywords" content="keywords,here" />
</head>

<% if (messages.info_i) { %> <%= messages.info_i%> <% } %>
<h1>hi <%= name %></h1>
<button id="databutton" onclick="callCSV()">Download Data</button>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Logout</button>
</form>
<form action="/changePassword" method="POST">
  <button type="submit">Change Password</button>
</form>
<script src="functions.js"></script>
