<h1>Change Password</h1>
<% if (messages.info_c) { %>
    <%= messages.info_c%>
<% } %>
<form action="/changePassword" method="POST">
    <div>
        <label form="password">Old Password</label>
        <input type="password" id="oldPassword" name="oldPassword" required>
    </div>
    <div>
        <label form="password">New Password</label>
        <input type="password" id="newPassword" name="newPassword" required>
    </div>
    <div>
        <label form="password">Confirm New Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
    </div>
    <button type="submit">Change</button>
</form>
<a href="/">Return</a>